<a href="https://colab.research.google.com/github/Eleniy1/LDA_Icelandic/blob/main/Icelandic_english_texts.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import re

In [ ]:
df = pd.read_csv("ALL_hugi.is.poems.csv")
df

                                                   text  ...     poem_date
0     orð vitundar, vinar lykill Vinar lykill Vegur ...  ...  28. jún 2016
1     Desember dimman dregur mig inn í ljósin og yl ...  ...  15. des 2015
2     Léttfættur í stígvélunum gengur til vinnu sérh...  ...  30. maí 2015
3     Hugprúða frostrós fannhvíti hugur. Fimm lítil ...  ...   6. mar 2015
4     Flaugst í hjartað mitt litli rauðbrystingur. B...  ...   3. jan 2015
...                                                 ...  ...           ...
8288  LjóðLassi er kassiog algjör massienda reykir h...  ...  25. nóv 2000
8289  Hérna er eitt sem ég samdi þegar ég var 14 ára...  ...  24. nóv 2000
8290  Það hlýtur nú að vera í lagi að gera smá Cut A...  ...  24. nóv 2000
8291  nóttin fyllist af draumumog án þess að snerta ...  ...  24. nóv 2000
8292  Einhvern tíman fyrir langa löngu sendi ég þett...  ...  24. nóv 2000

[8293 rows x 4 columns]

In [ ]:
df.text.isna().value_counts()

False    8293
Name: text, dtype: int64

In [ ]:
english_text = pd.DataFrame()
icelandic_text = pd.DataFrame()
#ice_letters = ['á', 'ð', 'é', 'í', 'ó', 'ú', 'ý', 'þ', 'æ', 'ö']
for i,row in df.iterrows():
  r = re.findall(r'(á|ð|é|í|ó|ú|ý|þ|æ|ö)', row.text)
  if r:
   icelandic_text = icelandic_text.append(row)
  else:
   english_text = english_text.append(row)

In [ ]:
icelandic_text

In [ ]:

icelandic_text.to_csv('hugi_icelandic_meta.csv', index=False)

In [ ]:
english_text.to_csv('hugi_english_meta.csv', index=False)

In [ ]:
df1 = pd.read_csv("hugi_english_meta.csv")
df1

In [ ]:
df2 = pd.read_csv("english_topics.csv")
df2

In [ ]:
all_data_eng = pd.concat([df1, df2], axis=1)
all_data_eng.to_csv('all_data_eng.csv', index=False)
all_data_eng

In [ ]:
df4 = pd.read_csv("icelandic_topics.csv")
df4

In [ ]:
df5 = pd.read_csv("poems_is_tagged.csv")
df5

In [ ]:
df6 = pd.read_csv("hugi_icelandic_meta.csv")
df6

In [ ]:
all_data_is = pd.concat([df4, df5, df6], axis=1)
all_data_is.to_csv('all_data_is.csv', index=False)
all_data_is